body{
font-size: 12px;

font-family: Arial;

}

div.chanpingye{
    max-width: 1013px;
    margin: 10px auto;
}


div.information{
padding: 0px 20px;

overflow: hidden;

}

div.down span{
    color: black;

font-size: 32px;

font-weight: bold;

margin: 0px 10px;

}

div.information{
background-image:url(http://how2j.cn/tmall/img/site/priceBackground.png);

height: 220px;

padding: 10px;

color: #666666;

}

div.price span.originalPriceYuan{
font-family: Arial;

font-size: 18px;

color: #C40000;

}

div.price{
color: #c40000;

font-family: Arial;

font-size: 80px;

font-weight: bold;

}






div.buyDiv{
    margin: -40px auto;
    text-align: center;
}
div.buyDiv button{
    display: inline-block;
    margin: 0px 10px;
    width: 180px;
    height: 40px;
}
button.buyButton{
    border: 1px solid #C40000;
    background-color: #FFEDED;
    text-align: center;
    line-height: 40px;
    font-size: 16px;
    color: #C40000;
    font-family: arial;
}
button.addCartButton{
    border: 1px solid #C40000;
    background-color: #C40000;
    text-align: center;
    line-height: 40px;
    font-size: 16px;
    color: white;
    font-family: arial;
}
button.addCartButton span.glyphicon{
    font-size: 12px;
    margin-right: 8px;
}
a:hover{
    text-decoration:none;
}
.redColor{
    color: #C40000;
}
.boldWord{
    font-weight: bold;
}